<h1 class="text-center">{{title}}</h1>

<form action="/" method="GET">
    <input name="city" placeholder="Enter a city name" required>
    <input type="submit" value="Get Forecast">
</form>
<div class="text-center" id="forecast">
    {{#if forecast}}
    <div class="row">
        <div class="col-5">
            {{forecast.weather.0.icon}}
        </div>
        <div class="col-7">
            <div class="row">Temperature: {{forecast.temp}}</div>
            <div class="row">Description: {{forecast.weather.0.description}}</div>
        </div>
    </div>
    {{/if}}
</div>


<script>
    if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(async position => {
            const lat = position.coords.latitude;
            const lon = position.coords.longitude;
            const options = {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ lat, lon })
            }
            const response = await fetch('/postGeo', options);
            const data = await response.json();
            const forecast = data.forecast.current;
            console.log(forecast)
            document.getElementById("forecast").innerHTML = '<div class="row"><div class="col-5">' + forecast.weather[0].icon + '</div><div class="col-7"><div class="row">Temperature:' + forecast.temp + '</div><div class="row">Description:' + forecast.weather[0].description + '</div></div></div>';
        })
    }
</script>